.item-div-container{
    display: flex;
    justify-content: space-evenly;
    height: 120px;
    border: 1.5px solid lightgrey;
    border-top: none;
}


.item-pic{
    height: 40px;
    width: 40px;
}





