.login-page-container{
    height: 100vh;
    width: 100vw;
}

.login-page-header{
    display: flex;
    justify-content: center;
}

.back-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-logo{
    height: 50px;
    width: 200px;
}