.signup-page-container{
    height: 100vh;
    width: 100vw;
}

.toggles-holder{
    display: flex;
    justify-content: center;
}

.back-signup-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}